
.login{
  width: 40rem;
  margin: auto;
  max-width: min-content;
  text-align: center;
}

.login__input {
  margin-bottom: .5rem;
  font: inherit;
  background-color: transparent;
  color: black;
  font-weight:bold;
  border: 0;
  width: 20rem;
  text-align: left;
  padding: 0.8rem;
  margin-left: auto;
  margin-right: auto;
}


